.queryCard 
{
    padding: 32px;
    margin-bottom: 24px;
}

.queryCard .iconWarp 
{
    font-size: 52px;
    float: left;
}

.queryCard .chartWrap 
{
    float: left;
}

.queryCard .content
{
    width: 100%;
    padding-left: 70px;
}

.queryCard .chartCardContent
{
    width: 100%;
    padding-left: 70px;
}

.queryCard .title 
{
    line-height: 0px;
    font-size: 18px !important;
    margin-bottom: 36px;
    height: 16px;
    padding-top: 40px
}

.queryCard .number 
{
    
    font-size: 24px !important;
    height: 32px;
}

.queryCard .text 
{
    
    font-size: 24px !important;
    height: 32px;
}