
.footer
{
  	padding: 24px 50px;
}

.ant-layout-header
{
  	background: #ffffff;
  	margin-bottom: 20px;
  	padding: 0
}

.coreLayout
{
	overflow: scroll
}

.logoV2 {
  	height: 65px;
  	border-radius: 6px;
  	display: block;
	padding: 8px;
	transition:all 1s;
	margin: auto;
}

.logoV2Container
{
  	border-radius: 6px;
  	display: block;
	padding: 8px;
	transition:all 1s;
	margin: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.navmenu
{
    display: block;
    float: right !important;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #FFF;
}