.login-form 
{
  padding: 10px 20px;
  margin: 0;
}

.login-component {

  max-width: 350px;
  margin: 0 auto;
  background: #fff;
  border-radius:12px;
}

.login-form-button 
{
  	width: 100%;
  	margin-top: 10px;
}

.login-background
{
  	width: 100%;
  	height: 100%;
  	background: url("../assets/bg.jpg");
  	padding-top: 200px;
}

.login-title 
{
  	margin: 0;
  	padding: 30px 20px;
  	text-align: center;
}

.login-logo 
{
    display: block;
    padding: 8px;
    transition:all 1s;
    height: 70px;
    width: 70px;
    margin: auto;
    line-height: 0px;
}